<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sumian.sleepdoctor">

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->

    <!-- Hw start-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--leancloud-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name,android:icon,android:theme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_app_key" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowing"
            android:value="true" />

        <activity
            android:name="com.sumian.hw.improve.main.HwWelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/HwAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="${host}"
                    android:scheme="${scheme}" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".account.login.LoginActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".account.userProfile.activity.ImproveUserProfileOneActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".account.userProfile.activity.ImproveUserProfileTwoActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".account.userProfile.activity.UserProfileActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".doctor.activity.PaymentActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".setting.SettingActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".account.userProfile.activity.ModifyUserInfoActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".account.bindMobile.BindMobileActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".doctor.activity.ScanDoctorQrCodeActivity"
            android:theme="@style/Scan_qr_theme" />

        <!-- third  login -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- pay start -->

        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- WeChat -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity"
            android:theme="@style/BaseAppTheme" />

        <!-- Alipay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/BaseAppTheme" />

        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService" />

        <receiver
            android:name=".notification.push.PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sumian.sd.action.PUSH" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->

        <activity
            android:name=".doctor.activity.DoctorWebActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".doctor.activity.DoctorServiceWebActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".h5.SimpleWebActivity"
            android:theme="@style/BaseAppTheme" />
        <!-- online report -->
        <activity
            android:name=".onlinereport.OnlineReportListActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".onlinereport.OnlineReportDetailActivity"
            android:theme="@style/BaseAppTheme" />

        <!-- notification -->
        <activity
            android:name=".notification.NotificationListActivity"
            android:theme="@style/BaseAppTheme" />

        <!-- sleep record -->
        <activity
            android:name=".record.FillSleepRecordActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="com.sumian.sleepdoctor.advisory.activity.AdvisoryListActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="com.sumian.sleepdoctor.advisory.activity.AdvisoryDetailActivity"
            android:theme="@style/BaseAppTheme" />

        <!-- scale -->
        <activity
            android:name=".scale.ScaleListActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".scale.ScaleDetailActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name="com.sumian.sleepdoctor.advisory.activity.PublishAdvisoryRecordActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".notification.RefundActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".h5.SleepFileWebActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".setting.version.VersionActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".cbti.activity.CBTICoursePlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/PlayActivityTheme" />

        <activity
            android:name=".cbti.activity.CBTIIntroductionWebActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".cbti.activity.CBTIWeekCoursePartActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".record.SleepRecordActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".account.userProfile.activity.MyTargetAndInformationActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".homepage.SleepPrescriptionSettingActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".cbti.activity.CBTIExerciseWebActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".test.TestActivity" />

        <receiver android:name=".receiver.ModuleCommunicationReceiver">
            <intent-filter>
                <action android:name="com.sumian.hw.LAUNCH_SLEEP_DOCTOR_MAIN" />
            </intent-filter>
        </receiver>

        <!-- Hw -->
        <!--<activity-->
        <!--android:name="com.sumian.hw.improve.main.HwWelcomeActivity"-->
        <!--android:theme="@style/TranslucentWindow">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name="com.sumian.hw.improve.main.HwMainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />

        <activity
            android:name="com.sumian.hw.account.activity.HwLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />

        <activity
            android:name="com.sumian.hw.account.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />

        <activity
            android:name="com.sumian.hw.account.activity.LoginRouterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />

        <activity
            android:name="com.sumian.hw.tab.report.activity.DaySleepDetailReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />

        <activity
            android:name="com.sumian.hw.account.activity.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.setting.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.setting.activity.ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.setting.activity.ConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />

        <activity
            android:name="com.sumian.hw.leancloud.activity.MsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.sumian.hw.setting.activity.ModifyPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />

        <activity
            android:name="com.sumian.hw.account.activity.ResetPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.account.activity.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />

        <activity
            android:name="com.sumian.hw.account.activity.ModifyNicknameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.account.activity.SleepReminderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.upgrade.activity.VersionUpgradeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.upgrade.activity.VersionNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.setting.activity.DeviceLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sumian.hw.account.activity.OpenBindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.account.activity.AvatarImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.improve.assessment.QuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.improve.assessment.AssessmentUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.improve.assessment.AssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.improve.feedback.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.improve.guideline.activity.UserGuidelineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />
        <activity
            android:name="com.sumian.hw.improve.guideline.activity.ManualActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />

        <service android:name="com.sumian.hw.tab.device.service.UploadSleepDataService" />

        <service
            android:name="com.sumian.hw.upgrade.service.DfuService"
            android:exported="true"
            tools:ignore="ExportedService" />

        <activity
            android:name="com.sumian.hw.clinical.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sumian.hw.improve.qrcode.activity.QrCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HwAppTheme" />

        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService" />

        <service
            android:name="com.sumian.hw.log.LogJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.sumian.hw.push.PushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.tech.sumian.action.PUSH" />
            </intent-filter>
        </receiver>
        <!-- Hw end-->

    </application>

</manifest>