<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sumian.sleepdoctor">

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/sleepdoctor_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sleepdoctor_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name,android:icon,android:theme">

        <activity
            android:name=".pager.activity.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="${host}"
                    android:scheme="${scheme}" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity" />
        <activity android:name=".account.activity.LoginActivity" />
        <activity android:name=".account.activity.ImproveUserProfileOneActivity" />
        <activity android:name=".account.activity.ImproveUserProfileTwoActivity" />
        <activity android:name=".pager.activity.UserProfileActivity" />
        <activity android:name=".pager.activity.AboutMeActivity" />
        <activity android:name=".pager.activity.PayGroupActivity" />
        <activity android:name=".pager.activity.ScanGroupResultActivity" />
        <activity android:name=".pager.activity.SettingActivity" />

        <activity
            android:name=".pager.activity.ScanQrCodeActivity"
            android:theme="@style/scan_qr_theme" />

        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--WeChat-->
        <activity-alias
            android:name="com.sumian.sleepdoctor.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!--Alipay-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".chat.activity.MsgActivity" />

        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService" />
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->


    </application>

</manifest>